@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
  scroll-behavior: smooth;
}

.navbar,
.socials {
  z-index: 99;
}

.navbar img {
  filter: invert(70%) sepia(96%) saturate(558%) hue-rotate(359deg)
    brightness(103%) contrast(106%);
}

.navbar .a {
  transition: all ease 0.5s;
}

.navbar li .active {
  color: #fbfbfb;
}

.search input:focus {
  border: none;
  outline: none;
}

.search input::placeholder {
  color: #98999a;
  font-size: 16px;
}

.drawer-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.drawer-list li {
  font-size: 15px;
  font-weight: 600;
  font-family: "Helvetica", sans-serif;
  color: white;
  list-style-type: none;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  gap: 20px;
  cursor: pointer;
}

.intro button {
  border: 2px solid #fec86a;
  transition: all ease 0.5s;
}

.skill-card {
  transition: all ease 0.5s;
}

.skill-card:hover {
  background-color: #fec86a;
}

.portfolio-cards {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 50px;
  gap: 2.5vh;
}

.portfolio-card {
  transition: all ease 0.5s;
}

.portfolio-card .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 2.5vh;
  height: 30vw;
  width: 30vw;
  background-color: #34353ba2;
  align-items: center;
  justify-content: center;
  padding: 24px;
  opacity: 0;
  transition: all ease 0.5s;
}

.portfolio-card .overlay button {
  border: 1px solid #fec86a;
  transition: all ease 0.5s;
}

.portfolio-card .overlay:hover {
  opacity: 1;
}

.education h1 {
  transform: translate(-50%, -50%);
  top: 10%;
  left: 15%;
}

.exp h2::before {
  content: "";
  height: 20px;
  width: 20px;
  color: #fec86a;
  background-color: #fec86a;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 7.5%;
  left: -5%;
  border-radius: 50%;
  box-shadow: 0px 0px 20px 5px #fec86a;
}

.exp-desc::before {
  content: "";
  height: 125px;
  width: 2.5px;
  background-color: #fbfbfb;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 45%;
  left: -5%;
}
